*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    outline: none;
    font-family: Audiowide,'Times New Roman', Times, serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 20px;
    box-shadow: inset 5px 5px 12px #ffff,
                    5px 5px 12px rgb(0, 0, 0, .16);
    display: grid;
    grid-template-columns: repeat(4, 70px);
    border: none;
}
input{
    grid-column: span 4;
    height: 70px;
    background-color: #ecf0fe;
    box-shadow: inset -5px -5px 12px #ffff,
                inset 5px 5px 12px rgb(0, 0, 0, .16);

    border: none;
    border-radius: 20px;
    color: rgb(2, 2, 31);
    font-size: 40px;
    text-align: end;
    /* margin: auto; */
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    background: wheat;
}
button{
    height: 48px;
    width: 50px;
    border-radius: 20px;
    background-color: #ecf0f3;
    box-shadow: inset 5px -5px 12px #ffff,
                inset 5px 5px 12px rgb(0, 0, 0, .16);
    border: none;
    margin: 8px;
    font-size: 20px;
    transition: linear .4s;
}
button:hover{
    transform: scale(1.2);
    background: yellow;
}
.calculator .toggle-button{
    height: 25px;
    width: 25px;
    background-color: black;
    box-shadow: none;
}
.equal-Button{
    width: 120px;
    box-shadow: inset 5px -5px 12px #ffff,
                inset 5px 5px 12px rgb(0, 0, 0, .16);
}

.dark-mode{
    background-color: black;
    padding: 15px;
    border-radius: 20px;
    box-shadow: inset 5px 5px 12px #aa0909,
                    5px 5px 12px rgba(173, 10, 10, 0.87);
    display: grid;
    grid-template-columns: repeat(4, 70px);
    border: none;

}

.white-button{
    height: 25px;
    width: 25px;
    background-color: white;
    box-shadow: none;
}